@layer base {
  .zoom-out {
    perspective: 1000px;
    height: 75vh;
  }

  .zoom-out__slide div {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .zoom-out__slide img {
    background-color: transparent;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    position: absolute;
  }

  .custom-arrow.flicking-arrow-prev.is-circle,
  .custom-arrow.flicking-arrow-next.is-circle {
    background-color: #000;
    width: 2rem;
    height: 2rem;
  }
}