@layer base {
  /* Hide radio buttons  */
  .variant-options input[type="radio"]:checked+label {
    @apply bg-black text-white;
  }

  footer a {
    @apply hover:opacity-70;
  }

  main a {
    @apply hover:opacity-70 duration-200
  }
}

@layer utilities {
  @variants responsive {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}