@import '../styles/components/carousel.css';
@import '../styles/fonts/fonts.css';
@import '../styles/custom.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  * Normalized CSS
  * - Do not write styles for classes, ids or any other than html tags normalization
  * - For custom styles use custom.css
*/

@layer base {
  html {
    @apply font-default duration-200 scroll-smooth;
  }
  h1{
    font-size: 5rem;
  }
  h2{
    font-size: 4rem;
  }
  h3{
    font-size: 3rem;
  }
  h4{
    font-size: 2rem;
  }
  h5{
    font-size: 1rem;
    font-weight: bold;
  }
  h6{
    font-size: 1rem;
  }

  p{
    @apply mb-3
  }
  button[type="button"] {
    @apply duration-200 hover:scale-[1.08] ;
  }

  input{
    @apply focus:outline-none focus:ring-primary focus:ring-2 duration-200;
  }
  ul li {
    @apply list-disc	;
  }

  ol li {
    @apply list-decimal	;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}