@import '../styles/components/carousel.css';
@import '../styles/custom.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  * Normalized CSS
  * - Do not write styles for classes, ids or any other than html tags normalization
  * - For custom styles use custom.css
*/

@layer base {
  html {
    @apply font-default;
  }
  h1{
    font-size: 5rem;
  }
  h2{
    font-size: 4rem;
  }
  h3{
    font-size: 3rem;
  }
  h4{
    font-size: 2rem;
  }
  h5{
    font-size: 1rem;
    font-weight: bold;
  }
  h6{
    font-size: 1rem;
  }
  a {
    @apply hover:opacity-50 duration-200;
  }
  button {
    @apply hover:opacity-70 duration-200;
  }
  svg {
    @apply duration-200;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}