@import '../styles/components/carousel.css';
@import '../styles/fonts/fonts.css';
@import '../styles/custom.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  * Normalized CSS
  * - Do not write styles for classes, ids or any other than html tags normalization
  * - For custom styles use custom.css
*/

@layer base {
  html {
    @apply font-default duration-200 scroll-smooth;
  }

  button[type="button"] {
    @apply duration-200 hover:scale-[1.08];
  }

  input,
  select {
    @apply focus:ring-primary focus:border-primary border-gray-300 duration-200;
  }

  input[type="number"] {
    @apply focus:ring-primary focus:ring-2 duration-200 focus:border-0;
  }

  input[type="checkbox"] {
    @apply rounded ring-primary focus:ring-primary checked:bg-primary hover:checked:bg-primary checked:focus:bg-primary border-gray-300 duration-200;
  }

  ul li {
    @apply list-disc;
  }

  ol li {
    @apply list-decimal;
  }

  /* Tables */
  table {
    @apply border-collapse border border-gray-300 table-fixed w-full;
  }

  thead {
    @apply bg-gray-100;
  }

  tr {
    @apply rounded;
  }

  th,
  td {
    @apply border border-gray-300 p-2 align-top text-left;
  }

  th h6,
  td h6 {
    @apply font-bold uppercase text-sm mb-2;
  }

  th p,
  td p {
    @apply mb-0 font-normal;
  }


  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}